body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a0909;
}

#chat-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

#chat-output {
    max-height: 300px;
    overflow-y: auto;
}

div {
    margin-bottom: 10px;
}

strong {
    color: #b7a3a3;
}

input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 8px;
    background-color: #689dc1;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #2980b9;
}
footer{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
  margin-top: 600px;
}